---
layout: indext
active: index
---
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h2><a href="{{ site.baseurl }}{{ post.url }}"> {{ post.title | escape}} </a></h2>
    {{ post.date | date_to_string }}
    <time class="post-time" itemprop="dateCreated"
              datetime="{{ post.date | date_to_xmlschema }}"
              content="{{ post.date | date: site.date_format }}" >
          {{ post.date | date: '%y-%m-%d' }}
        </time>
    <p>{{ post.content | truncatewords: 5 }}</p>
  </article>
  {% endfor %}
</div>


<!-- Pagination links -->
<div class="pager">
  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pre">Pre</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>

