---
layout: default
active: index
---

<div id="banner">
  <span >天行健地势坤★骤然临之而不惊，无故加之而不怒</span>
  <span class="date">{{ site.time | date: "%b,%d %Y"  }}</span>
  <span class="sub_info"> today </span>
<br />
  <span ><a href="/blog/life">生活</a></span>
  <span ><a href="/blog/programmer">程序猿</a></span>
  <span ><a href="/blog/other">其他</a></span>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h2><a href="{{ site.baseurl }}{{ post.url }}"> {{ post.title | escape}} </a></h2>
    {{ post.date | date_to_string }}
    <p>{{ post.content | truncatewords: 5 }}</p>
  </article>
  {% endfor %}
</div>


<!-- Pagination links -->
<div class="pager">
  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pre">Pre</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>

