<section id="sidebar">
  <div id="avatar">
    <a href="/blog"><div class="border">
      <div class="img_container"><img src ="{{ site.avatar}}" /></div>
    </div></a>
  </div>

  <div class="title"><a href="/blog">{{ site.title }}</a></div>
  <ul class="site_nav">
    <li><a href="/blog" {% if page.active == "index" %}class="selected"{% endif %} class="nav_items">主页</a></li>
    <li><a href="/blog/archive" {% if page.active == "archive" %}class="selected"{% endif %} class="nav_items">列表</a></li>
    <li><a href="/blog/about" {% if page.active == "about" %}class="selected"{% endif %} class="nav_items">关于</a></li>
    <li><a href="/blog/feed.xml" class="nav_items">订阅</a></li>
    <li><a href="/blog/message" {% if page.active == "message" %}class="selected"{% endif %} class="nav_items">留言</a></li>
  </ul>




</section>
